.App {
    background: #F3F7FA;
    width: 960px;
    height: 1350px;
    margin: 0 auto;
    padding-left: 103px;
}

.Logo {
    text-align: center;
    padding-top: 45px;
}

.app-wrapper {
    display: flex;
}